.clients {
  padding-top: 60px;
  &-list {
    display: flex;
  }
  &-item {
    @include flexCenter;

    img {
      opacity: .4;
      max-height: 90px;
    }
  }

  @media (min-width: 1024px) {
    padding-top: 160px;
  }
}