button,
a,
input[type=submit] {
  &.button {
    position: relative;
    @include flexCenter;
    gap: 15px;
    @include transition;
    width: fit-content;
    height: 44px;
    border: none;
    padding: 0 28px;
    background-color: $secondary-color;
    font-family: $main-font;
    border-radius: 50px;
    text-align: center;
    line-height: 44px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }

    i {
      font-size: 14px;
    }

    &--ghost {
      background-color: transparent;
      border: 1px solid $secondary-color;
      color: $secondary-color;

      &:hover {
        background-color: rgba($secondary-color, .1);
      }
    }
    @media (min-width: 768px) {
      height: 52px;
      line-height: 52px;
      padding: 0 32px;
      font-size: 16px;
    }
  }
}