.position {
  &-left {
    left: 30px;
  }

  &-center {
    left: 50%;
    transform: translateX(-50%);
  }

  &-right {
    right: 30px;
  }

  @media (min-width: 768px) {
    &-left {
      left: 60px;
    }

    &-right {
      right: 60px;
    }
  }
}