.blog-hero {
  padding: 50px 25px;

  &-title {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
  }

  &-search {
    .form-field {
      margin: 0 auto 20px;
    }
  }

  &-category {
    .form-field {
      select {
        @extend .form-field-input;
        appearance: none;
        option {
          color: #000;
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      font-size: 48px;
    }

    &-actions {
      display: flex;
      width: 500px;
      gap: 20px;
    }

    &-search,
    &-category {
      width: 100%;
    }
  }
}