.blog-item {
  margin-bottom: 40px;
  figure {
    border-radius: 10px;
    overflow: hidden;
    @include figureWrapper(100%, 280px);
    margin-bottom: 30px;
    overflow: hidden;
    img {
      @include transition(10s);
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    @include transition;

    &:hover {
      color: $secondary-color;
    }
  }
  p {
    display: flex;
    align-items: center;
    gap: 20px;
    @include transition;
    i {
      font-size: 12px;
    }
  }
  a {
    &:hover {
      color: $secondary-color;
      gap: 30px;
    }
  }
  .button {
    &:hover {
      color: #fff;
    }
  }
  &-cat {
    display: block;
    width: fit-content;
    text-transform: uppercase;
    font-size: 14px;
    color: $tertiary-color;
    margin-bottom: 16px;
  }
}