.about-values {
  padding: 120px 0;
  &-item {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
    .content {
      h3 {
        margin-bottom: 50px;
        text-transform: uppercase;
        color: $secondary-color;
        font-size: 18px;
        line-height: 27px;
        padding-bottom: 20px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          left: 0; bottom: 0;
          width: 50px;
          height: 2px;
          background-color: $secondary-color;
        }
      }
      h4 {
        font-size: 18px;
        line-height: 27px;
      }
    }
    figure {
      border-radius: 10px;
      overflow: hidden;
      @include figureWrapper(100%, 350px);
    }
  }
  &-content {
    &-last {
      p {
        margin-bottom: 40px;
        color: rgba(#fff, .7);
      }
    }
  }
  @media (min-width: 1200px) {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      width: 50%;
      &:last-child {
        width: 100%;
      }
      p {
        max-width: 460px
      }
      figure {
        @include figureWrapper(100%, 650px);
      }
      &-last {
        display: flex;
        justify-content: space-between;

        .content {
          width: calc(50% - 200px);
          p {
            font-size: 16px;
            line-height: 24px;
          }
        }
        figure {
          width: 50%;
        }
      }
    }
    &-image {
      margin-bottom: 0;
    }
  }
}