.footer {
  background-color: rgba(0, 0, 0, 0.1);

  &-main {
    padding: 40px 0;
  }
  &-copyright {
    padding: 25px 0;
    background-color: rgba(0, 0, 0, 0.2);
    p {
      font-size: 14px;
      color: rgba(255,255,255, .6);
    }
  }

  @media (min-width: 1024px) {
    &-copyright {
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}